 html, body{width:100%; height:100%; margin:0; }



body {background-color:#fff}





/*-------------------------------------VideoPlayer-------*/

#play{ background-color:transparent; font-family:archive; font-size:20px; color:#999 }
#restart{ background-color:transparent; font-family: 'Quattrocento', serif; font-size:20px; border: solid #fff thin}
#buttonbar{ margin-top:-75px;
font-family:archive;
color:#999;
}
button:focus {
  outline-color: transparent;
  outline-style: none;
}




/*-------------------------------------MAP--------*/


.centered{text-align:center; padding:1em}

/*-------------------------------------PARALLAX--------*/     





          
/*-------------------------------------Interactive Div--------
#block{
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #323232;
   margin-top:20px;
    margin-left:8%;
}*/ 





          
input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 79%;
    height:36px;
    margin:0
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #e74c3c;
    
    width: 10px;
    height: 36px;
}
     
#playpausebtn {
    float:left;
    background-color:#e74c3c;
    padding:9.5px;
    margin-top:0;
    color:#fff;
    width:10%;
}

#playpausebtn:hover {
    cursor:pointer;
    background-color:#c0392b;
   
}

#seekslider {
    margin:0
}

#mutebtn {
    float:right;
    background-color:#e74c3c;
    padding:9.5px;
    margin-top:0;
    width:10%;
    color:#fff
}

#mutebtn:hover {
    
    background-color:#c0392b;
}



#video_controls_bar {
    
}

/*____________________Typorgaphy________________*/
















/*VIDEO RESIZE*/
.wrapper{padding:4% 4%;background:#e4e5d9;border:solid 2rem #fff;}.videocontent{width:80%;max-width:960px;margin:0 auto;}.video-js{padding-top:55.25%;}.vjs-fullscreen{padding-top:0px;}
#small-text-footer {
    font-size:90%; color:#999
}

.overlay-Big {
    z-index:10000;
    background-color: rgba(255,255,255,0.9);
    position:fixed;
  
    margin:0;
    height:100%;
    width:100%;
    display:none;
}

.overlay-first-band {
    background-color: rgba(192,57,43,0.8);
    height:23%;
    padding-top:4%;
    color:#fff !important;
        
}

#close {
    float:right;
    position:absolute;
    padding:15px 15px 0 0;
    right:0;
    z-index:1000
}

.overlay-second-band {
    padding-top:4%;
}
.overlay-second-band p {
    font-size:1em;
}

.buttons-social img {
    margin-left:10px;
}



#logo-media {
    position:absolute;
    float:left;
    top:0;
}

.buttons-social {
    float:right;
    position:absolute;
    right:0;
    top:0;
    margin-top:10px;
    margin-right:10px;
}

  .vjs-default-skin .vjs-play-progress,
  .vjs-default-skin .vjs-volume-level { background-color: #ca3a3a }
  .vjs-default-skin .vjs-control-bar { font-size: 81% }

#headerSlideContainer {
	position: fixed;
	top:-70px;
	width: 100%;
    background-color:rgba(255,255,255,0.95);
    border-bottom:solid thin #CCCACA;
    z-index:10;
    padding:0.4em;
    height:47px;
}
#headerSlideContainer img {
    cursor:pointer;
}


.facebook {
    border: solid #c0392b thin;
    background-color:#fff;
    color:#c0392b
}

.facebook:hover {
   
    background-color:#c0392b;
    color:#fff
}

.inciso {
    font-family: 'Droid Serif', serif; font-weight:700; font-style:italic; font-size:30px;
    line-height:37px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding:15px 0;
    
}

#testa {
    z-index:0;
    position:fixed;
}

#first-chapter {
    position:relative;
}


.introduction{
    z-index:1000;
    
    font-family: 'Varela Round', sans-serif;
    
   
    color:#8E8E8E;
    letter-spacing:0.2em;
    line-height:1.5em;
    font-size:0.95em;
    
}

.sand {
    background-color:#F9F7E4;
}

.didascalia {
    font-family: 'Varela Round', sans-serif;
    padding:1.5em;
    color:#5B5B5B;
    letter-spacing:0.2em;
    line-height:1.5em;
    font-size:0.70em;
    
}

.head {
    height:370px;
    margin-top:20%;
}

.blue {
    color:#066481;
}

h3 small em{font-style:normal; color:#3A3A3A}

.gallery {
    background-color:#DDDDDD;
    padding: 3em 0;
    
}

.punto1 {
    z-index:1000;
    position:relative;
}
